body {
    margin: 0;
}

.hero {
    min-height: 100vh;
    background: #6DD3E7;
    position: relative;
    overflow: hidden;
}

.hero__pouches {
    display: none;
}

@media (min-width: 769px) {
    .hero {
        background: url('../derma-hero-bg-desktop.png') no-repeat right center;
        background-size: cover;
    }

    .hero::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        max-width: none;
        height: 100%;
        background: url('../derma-hero-home.png') no-repeat left center;
        background-size: contain;
        pointer-events: none;
        transform: translateY(-50%);
    }
}

@media (max-width: 768px) {
    .hero {
        background: url('../derma-hero-mobile.png') no-repeat center 0;
        background-size: 100% auto;
        padding-bottom: 2rem;
    }

    .hero__pouches {
        display: block;
        position: absolute;
        width: 28%;
        max-width: 120px;
        left: 50%;
        top: 62%;
        transform: translate(-50%, 0);
    }
}